@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

/* html * {
  outline: 1px solid red;
} */

@layer base {
  :root {
    /* tailwind vars */
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(21, 28, 40, 1);
    --card: rgba(255, 255, 255, 1);
    --card-foreground: rgba(51, 51, 51, 1);
    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(10, 10, 10, 1);
    --primary: rgba(33, 110, 242, 1);
    --primary-foreground: rgba(250, 250, 250, 1);
    --secondary: rgba(246, 249, 254, 1);
    --secondary-foreground: rgba(56, 76, 112, 1);
    --muted: rgba(231, 236, 243, 1);
    --muted-foreground: rgba(156, 163, 176, 1);
    --accent: rgba(245, 245, 245, 1);
    --accent-foreground: rgba(23, 23, 23, 1);
    --accent2: rgba(37, 29, 63, 1);
    --accent2-foreground: rgba(255, 255, 255, 1);
    --destructive: rgba(237, 80, 80, 0.7);
    --destructive-foreground: rgba(250, 250, 250, 1);
    --border: rgba(231, 236, 243, 1);
    --input: rgba(224, 229, 235, 1);
    --ring: rgba(29, 79, 215, 1);
    --chart-1: rgba(231, 110, 80, 1);
    --chart-2: rgba(42, 157, 144, 1);
    --chart-3: rgba(39, 71, 84, 1);
    --chart-4: rgba(232, 196, 104, 1);
    --chart-5: rgba(244, 164, 98, 1);
    --sidebar-background: rgba(43, 58, 85, 1);
    --sidebar-foreground: rgba(248, 249, 252, 1);
    --radius: 0.5rem;

  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0.31% 27.75%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 224 76% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 55%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 224 76% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
  }
}

@layer base {
  a {
    @apply text-inherit;
  }
}


@layer utilities {
  .rekru-container {
    @apply container max-w-[1160px] px-5 mx-auto;
  }

  .heading-footer {
    @apply text-lg font-semibold text-sidebar-foreground;
  }

  .link-footer {
    @apply inline-block text-sm underline underline-offset-4 decoration-transparent decoration-2 transition-all hover:decoration-white hover:scale-105;
  }
}

/* SWIPER */

.swiper {
  height: 100%;
  width: 100%;
}

.swiper,
.swiper * {
  box-sizing: border-box;
}

.swiper-slide {
  min-height: 495px;
}